$amina-positive                    : #72ba85
$amina-negative                    : #d03c4e
$amina-info                        : #31CCEC
$amina-warning                     : #F2C037
  
$amina-background-primary-color    : #0e1621
$amina-background-secondary-color  : #111924
$amina-separator-color             : #0b121b
$amina-primary-color               : #101d2b

$amina-default-padding             : 10px
$amina-control-height              : 38px


$primary                           : #6a7472
$secondary                         : #12544d
$accent                            : #9C27B0

$dark                              : $amina-background-secondary-color
$dark-page                         : $amina-background-primary-color

$positive                          : $amina-positive
$negative                          : $amina-negative
$info                              : $amina-info
$warning                           : $amina-warning

$separator-dark-color              : $amina-separator-color

$space-base                        : 10px 

$button-font-size                  : 12px
$button-padding                    : 4px 12px
$button-rounded-border-radius      : 18px

$input-font-size                   : 12px

.q-drawer
  background-color: transparent !important

.q-item
  min-height: 30px !important

